<main class="bg-[#085394] px-4">
  <h1 class="font-bold text-2xl mt-8">{{issue.issue_title}}</h1>
  <h2 class="font-semibold text-lg mt-5">Property:
    <span class="font-normal text-">{{issue.property.property_name}}</span>
  </h2>
  <div>
    <h3>Description: {{issue.issue_description}}</h3>
    <p>Previous Actions:</p>
    <ul>
      {{#each tasks}}
      <li>
        <p>Task: {{task_name}}</p>
        <p>Note: {{status_update}}</p>
        <p>Follow-up Date: {{followUp_date}}</p>
          {{#if is_done}}
          <button name="isDone" value="Re-Open"
            class="border-2 border-black rounded-lg px-2"
            hx-patch="/issues/{{issue_id}}/tasks/{{task_id}}/isDone"
            hx-target="#main"
            hx-swap="innerHTML"
            >Re-Open</button>
          {{else}}
          <button name="isDone" value="Complete"
            class="border-2 border-black rounded-lg px-2"
            hx-patch="/issues/{{issue_id}}/tasks/{{task_id}}/isDone"
            hx-target="#main"
            hx-swap="innerHTML"
            >Mark Complete</button>
          {{/if}}
      </li>
      {{/each}}
    </ul>
  </div>
</main>
</main>