<main class="px-4 backdrop-blur-md bg-white/30 m-4 text-white rounded">
  <h1 class="font-bold text-2xl mt-8">{{issue.issue_title}}</h1>
  <h2 class="font-semibold text-lg mt-5">Property:
    <span class="font-normal text-base">{{issue.property.property_name}}</span>
  </h2>
    {{#if issue.issue_isDone}}
    <button name="issueDone" value="Re-Open"
      class="border-2 border-slate-300 rounded-lg px-2 bg-emerald-800"
      hx-patch="/issues/{{issue.issue_id}}/isDone"
      hx-target="#main"
      hx-swap="innerHTML"
    >Re-Open</button>
  {{else}}
    <button name="issueDone" value="Complete"
      class="border-2 border-slate-300 rounded-lg px-2 bg-red-700"
      hx-patch="/issues/{{issue.issue_id}}/isDone"
      hx-target="#main"
      hx-swap="innerHTML"
    >Mark Complete</button>
  {{/if}}
  <button name="deleteIssue" value="{{issue.issue_id}}"
    class="border-2 border-slate-300 rounded-lg px-2 bg-purple-900"
    hx-confirm="Are you sure you want to delete this issue? This action cannot be undone."
    hx-delete="/issues/{{issue.issue_id}}"
  >Delete Issue</button>
  <div>
    <h3>Description: {{issue.issue_description}}</h3>
    <p>Actions Taken:</p>
    <ul>
      {{#each tasks}}
      <li>
        <p>Task: {{task_name}}</p>
        <p>Note: {{status_update}}</p>
        <p>Follow-up Date: {{followUp_date}}</p>
          {{#if is_done}}
          <button name="isDone" value="Re-Open" 
            class="border-2 border-slate-300 rounded-lg px-2 bg-emerald-800"
            hx-patch="/issues/{{issue_id}}/tasks/{{task_id}}/isDone"
            hx-target="#main"
            hx-swap="innerHTML"
            >Re-Open</button>
          {{else}}
          <button name="isDone" value="Complete"
            class="border-2 border-slate-300 rounded-lg px-2 bg-red-700"
            hx-patch="/issues/{{issue_id}}/tasks/{{task_id}}/isDone"
            hx-target="#main"
            hx-swap="innerHTML"
            >Mark Complete</button>
          {{/if}}
          <button name="deleteTask" value="{{task_id}}"
            class="border-2 border-slate-300 rounded-lg px-2 bg-purple-900"
            hx-confirm="Are you sure you want to delete this task? This action cannot be undone."
            hx-delete="/issues/{{issue_id}}/tasks/{{task_id}}"
            hx-target="#main"
          >Delete Task</button>
      </li>
      {{/each}}
    </ul>
    {{!-- sending issue-id and property_id values to renderNewTaskForm via the button value attribute --}}
    <button name="newTask" value="{{issue.issue_id}} {{issue.property_id}}"
      class="border-2 border-slate-300 rounded-lg px-2 bg-purple-900"
      hx-get="/tasks/new"
      hx-target="#newTaskDiv"
      hx-swap="innerHTML"
    >New Task</button>
    {{!-- <button name="assignVendor" value="?"
      class="border-2 border-slate-300 rounded-lg px-2 bg-purple-900"
      hx-patch="/issues/{{issue_id}}/assign-vendor"
      hx-target="??"
      hx-swap="??"
    >Assign Vendor</button> --}}
  </div>
  {{!-- This is where the New Task Form will appear --}}
  <div id="newTaskDiv"></div>
</main>
</main>