<main class="bg-[#085394] px-4">
  <h1 class="font-bold text-2xl mt-8">{{issue.issue_title}}</h1>
  <h2 class="font-semibold text-lg mt-5">Property: 
    <span class="font-normal text-">{{issue.property.property_name}}</span>
  </h2>
  <div>
    <h3>Description: {{issue.issue_description}}</h3>
    <p>Previous Actions:</p>
    <ul>
      {{#each issue.tasks}}
      <li
        hx-get="/tasks/{{this.task_id}}"
        {{!-- hx-target will be itself, so no need to specify --}}
        {{!-- the swap will be innerHTML, also default --}}
        hx-push-url="true"
      >Task: {{this.task_name}}</li>
      {{/each}}
    </ul>
  </div>
  </main>
</main>