<h1 id="issueTitle" class="mt-8 text-lg font-bold" hx-swap-oob="true">Change Issue Title:
  <input
    id="inputTitle"
    hx-preserve
    class="mb-2 rounded text-gray-400"
    name="issue_title"
    type="text"
    value="{{issue.issue_title}}"
  />
</h1>

<h2
  id="propertyName"
  hx-swap-oob="true"
  class="mt-5 text-lg font-semibold"
>Change Associated Property:
  <select
    id="selectProperty"
    name="property_id"
    class="mb-2 rounded text-gray-400"
  >
    <option
      value="{{issue.property_id}}"
      selected
      disabled
      hidden
    >{{issue.property.property_name}}</option>
    {{#each properties}}
      <option value="{{property_id}}">{{property_name}}</option>
    {{/each}}
  </select>
</h2>

<div id="issueDesc" hx-swap-oob="true">
  <h3
    hx-swap-oob="true"
    class="mt-2 text-lg font-semibold"
  >Edit Issue Description:
  </h3>
  <textarea
      id="inputDesc"
      hx-preserve
      class="rounded text-gray-400 lg:w-[50%] bg-white pl-1"
      rows="5"
      name="issue_description"
  />{{issue.issue_description}}</textarea>
</div>

<form
  hx-patch="/issues/{{issue.issue_id}}/edit"
  hx-target="#main"
  hx-include="#issueTitle, #selectProperty, #inputDesc"
>
  <button class="rounded my-3 px-2 bg-green-400 hover:bg-green-600 focus:outline-none focus:ring focus:ring-blue-300 active:bg-green-700 shadow-lg" type="submit" type="submit">Submit</button>
  <button class="rounded my-3 mx-1 px-2 bg-red-400 hover:bg-red-600 focus:outline-none focus:ring focus:ring-blue-300 active:bg-red-700 shadow-lg">Cancel</button>
  {{#if isError}}
    <div class="p-2 text-red-500">{{msg}}</div>
  {{/if}}
</form>