<main class="px-4 backdrop-blur-md bg-white/30 m-4 rounded">
  <div class="flex justify-between">
    <h1 id="issueTitle" class="font-bold text-2xl mt-8">{{issue.issue_title}}</h1>
    <div>
      {{#if issue.issue_isDone}}
      <button name="issueDone" value="Re-Open" class="border-2 border-white rounded-lg px-2 bg-green-400 mt-8"
        hx-patch="/issues/{{issue.issue_id}}/isDone"
        hx-target="#main"
        hx-swap="innerHTML"
      >Re-Open</button>
      {{else}}
      <button name="issueDone" value="Complete" class="border-2 border-white rounded-lg px-2 bg-red-400 mt-8"
        hx-patch="/issues/{{issue.issue_id}}/isDone"
        hx-target="#main"
        hx-swap="innerHTML"
      >Mark Complete</button>
      {{/if}}

      <button
        hx-get="/issues/{{issue.issue_id}}/edit"
      >Edit Issue</button>

      <button name="deleteIssue" value="{{issue.issue_id}}" class="border-2 border-white rounded-lg px-2 bg-blue-400 mt-8"
        hx-confirm="Are you sure you want to delete this issue? This action cannot be undone."
        hx-delete="/issues/{{issue.issue_id}}"
        hx-target="#main"
      >Delete Issue</button>
    </div>
  </div>

  <h2 id="propertyName" class="font-semibold text-xl mt-5">Property:
    <span class="font-normal text-lg">{{issue.property.property_name}}</span>
  </h2>
  <h3 id="issueDesc" class="font-semibold text-lg mt-2">Description: <span class="font-normal text-lg">{{issue.issue_description}}</span></h3>

  <div id="editForm"></div>

  <h3 class="font-semibold text-lg mt-2">Vendors Assigned: <span class="font-normal text-lg">(Double click to open vendor info)</span></h3>
  <ul>
    {{#each issue.Vendors}}
      <li ><a hx-get="/vendors/{{vendor_id}}" hx-target="#main" hx-boost="true" hx-trigger="dblclick" class="cursor-pointer">{{vendor_first_name}} {{vendor_last_name}} ({{vendor_trade}})</a>
        <button class="border-2 border-white rounded-lg px-2 bg-blue-400" name="vendor_id" value="{{vendor_id}}"
          hx-patch="/issues/{{../issue.issue_id}}/unassign-vendor"
          hx-target="#main"
        >Unassign Vendor</button>
      </li>
    {{/each}}
  </ul>

  <div>
    <h4 class="font-semibold text-lg mt-2">Actions Taken:</h4>
    <ul>
      {{#each issue.tasks}}
      <li class="border-2 border-slate-400 border-solid rounded-lg px-2 my-1">
          <p class="font-semibold mt-1">Task: <span class="font-normal text-base">{{task_name}}</span></p>
          <p class="font-semibold mt-1">Note: <span class="font-normal text-base">{{status_update}}</span></p>
          <p class="font-semibold mt-1">Follow-up Date:  <span class="font-normal text-base">{{format_date followUp_date}}</span></p>
        {{#if is_done}}
        <button name="isDone" value="Re-Open" class="border-2 border-white rounded-lg px-2 bg-green-500 my-1"
          hx-patch="/issues/{{issue_id}}/tasks/{{task_id}}/isDone" hx-target="#main"
          hx-swap="innerHTML">Re-Open</button>
        {{else}}
        <button name="isDone" value="Complete" class="border-2 border-white rounded-lg px-2 bg-green-500 my-1"
          hx-patch="/issues/{{issue_id}}/tasks/{{task_id}}/isDone"
          hx-target="#main"
          hx-swap="innerHTML"
        >Mark Complete</button>
        {{/if}}
        <button name="deleteTask" value="{{task_id}}" class="border-2 border-white rounded-lg px-2 bg-red-400"
          hx-confirm="Are you sure you want to delete this task? This action cannot be undone."
          hx-delete="/issues/{{issue_id}}/tasks/{{task_id}}"
          hx-target="#main"
        >Delete Task</button>
      </li>
      {{/each}}
    </ul>
    {{!-- sending issue-id and property_id values to renderNewTaskForm via the button value attribute --}}
    <button name="newTask" value="{{issue.issue_id}} {{issue.property_id}}"
      class="border-2 border-white rounded-lg px-2 bg-blue-400" hx-get="/tasks/new" hx-target="#addDiv"
      hx-swap="innerHTML">New Task</button>

    <div>
      <label for="vendor_trade">Assign Vendor:</label>
      <select class="text-black" name="vendor_trade"
        hx-get="/issues/{{issue.issue_id}}/assign-vendor"
        hx-target="#assignVendorForm"
        hx-swap="innerHTML"
      >
        <option value="" disabled selected hidden>Pick a trade</option>
        <option value="All">All Trade</option>
        <option value="Electrical">Electrical</option>
        <option value="Flooring">Flooring</option>
        <option value="Handyman">Handyman</option>
        <option value="Plumbing">Plumbing</option>
        <option value="Roofer">Roofer</option>
      </select>
    </div>

    <div>
      <form id="assignVendorForm"
        hx-patch="/issues/{{issue.issue_id}}/assign-vendor"
        hx-target="#main"
      >
      </form>
    </div>
  </div>
  {{!-- This is where the New Task Form or Assign Vendor will appear --}}
  <div id="addDiv"></div>
</main>