<div id="issuesList"
  hx-get="/issues"
  hx-target="#aside"
  hx-trigger="update-issues from:body"
>

  {{#each issues}}
    <div class="m-4 rounded bg-white/30 p-2 text-white backdrop-blur-sm cursor-pointer shadow-lg hover:scale-105">
      <h2
        class="font-bold text-xl my-2 border text-center rounded bg-red-400"
        hx-get="/issues/{{this.issue_id}}"
        hx-swap="innerHTML"
        hx-target="#main"
        hx-push-url="true"
      >{{this.issue_title}}</h2>
      <h3
        class="font-semibold text-lg"
        hx-get="/properties/{{this.property_id}}"
        hx-swap="innerHTML"
        hx-target="#main"
        hx-push-url="true"
      >Property: {{this.property.property_name}}</h3>
      <p class="font-medium">Description: <span>{{this.issue_description}}</span></p>
      <p class="font-medium">Next Follow-Up Date: <span>{{this.tasks.followUp_date}}</span></p>
    </div>
  {{/each}}
</div>

{{#if isOob}}
  <h1 id="asideTitle" hx-swap-oob="true" class="mx-4 my-3 text-4xl font-bold">Issues</h1>

  <button id="addBtn" name="newIssue" class="rounded bg-green-400 px-2 hover:bg-green-600 focus:outline-none focus:ring focus:ring-blue-300 active:bg-green-700 my-10"
    hx-get="/issues/new"
    hx-target="#main"
    hx-swap-oob="true"
    hx-swap="innerHTML"
  >New Issue</button>

  <input
    type="search"
    id="searchBar"
    class="text-gray-600 ms-4 my-1 rounded-md p-1"
    name="search"
    placeholder="Search Issues"
    hx-swap-oob="true"
    hx-post="/issues/search"
    hx-target="#aside"
    hx-trigger="input changed delay:300ms, search"
  />

  <select name="issueStatus" id="selectOption" class="text-gray-600 ms-4 rounded-md"
    hx-swap-oob="true"
    hx-get="/issues/whichIssues"
    hx-target="#aside"
    hx-trigger="change, update-issues from:body"
    hx-swap="innerHTML">
    <option value="open">Open Issues</option>
    <option value="closed">Closed Issues</option>
    <option value="all">All Issues</option>
  </select>

  {{!-- <div id="addBtn" hx-swap-oob="true" ></div> --}}
{{/if}}