<main class="m-4 rounded bg-white/30 px-4 text-white backdrop-blur-md">
  <h2 class="mb-5 text-4xl font-bold">Owner Information: </h2>
  <div id="ownerInfo">
    <div>
      <label class="inline-block font-semibold">Name:
        <span class="font-normal">{{owner.owner_first_name}}</span></label>
      <label>{{owner.owner_last_name}}</label>
    </div>
    <div>
      <label class="inline-block font-semibold">Address:
        <span class="font-normal">{{owner.owner_street}}</span></label>
        <span class="font-normal">{{owner.owner_city}}, {{owner.owner_state}} {{owner.owner_zip}}</span></label>
    </div>
    <div>
      <label class="inline-block font-semibold">Phone:
        <span class="font-normal">{{owner.owner_phone}}</span></label>
    </div>
    <div>
      <label class="inline-block font-semibold">Email:
        <span class="font-normal">{{owner.owner_email}}</span></label>
    </div>
  </div>
  <div class="my-5">
    <button
      class="rounded bg-blue-400 px-2 hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-300 active:bg-blue-700"
      hx-get="/owners/{{owner.owner_id}}/edit" hx-target="#ownerInfo" hx-swap="outerHTML">Edit Owner</button>
    <button
      class="rounded bg-blue-400 px-2 hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-300 active:bg-blue-700"
      hx-delete="/owners/{{owner.owner_id}}" hx-target="#main"
      hx-confirm="Are you sure you want to delete this owner? This action cannot be undone.">Delete Owner</button>

  </div>
  {{!-- <div id="owner-update" class="hidden" class="p-5">
    <form class="flex flex-col">
      <label for="owner_first_name">Owner First Name</label>
      <input
        type="text"
        name="owner_first_name"
        value="{{owner.owner_first_name}}"
      />
      <label for="owner_last_name">Owner Last Name</label>
      <input
        type="text"
        name="owner_last_name"
        value="{{owner.owner_last_name}}"
      />
      <label for="owner_street">Owner Street Address</label>
      <input type="text" name="owner_street" value="{{owner.owner_street}}" />
      <label for="owner_city">Owner City</label>
      <input type="text" name="owner_city" value="{{owner.owner_city}}" />
      <label for="owner_state">Owner State</label>
      <input type="text" name="owner_state" value="{{owner.owner_state}}" />
      <label for="owner_zip">Owner Zip</label>
      <input type="text" name="owner_zip" value="{{owner.owner_zip}}" />
      <label for="owner_email">Owner Email Address</label>
      <input type="text" name="owner_email" value="{{owner.owner_email}}" />
      <label for="owner_phone">Owner Phone Number</label>
      <input type="text" name="owner_phone" value="{{owner.owner_phone}}" />
      <button
        class="rounded-lg border-2 border-slate-300 bg-emerald-800 px-2"
        hx-patch="/owners/{{owner.owner_id}}"
        type="submit"
        hx-on:click="document.getElementById('owner-update').classList = 'hidden' "
      >Submit</button>
    </form>
  </div> --}}
</main>