<main>
  <h2>Owner: {{owner.owner_first_name}} {{owner.owner_last_name}}</h2>
  <h3>Address: {{owner.owner_street}}</h3>
  <h3>{{owner.owner_city}},
    {{owner.owner_state}}
    {{owner.owner_zip}}</h3>
  <h3>Owner Phone:{{owner.owner_phone}}</h3>
  <button name="deleteOwner" value="Delete Owner"
    class="border-2 border-slate-300 rounded-lg px-2 bg-red-800"
    hx-delete="/owners/{{owner.owner_id}}"
    hx-target="#main"
  >Delete</button>
</main>