<main>
  <h2>Owner: {{owner.owner_first_name}} {{owner.owner_last_name}}</h2>
  <h3>Address: {{owner.owner_street}}</h3>
  <h3>{{owner.owner_city}},
    {{owner.owner_state}}
    {{owner.owner_zip}}</h3>
  <h3>Owner Phone:{{owner.owner_phone}}</h3>
</main>