<main class="m-4 rounded bg-inherit px-4 text-white backdrop-blur-xl shadow-[rgba(50,50,93,0.25)_0px_6px_12px_-2px,_rgba(0,0,0,0.3)_0px_3px_7px_-3px]">
  <h2 class="font-bold text-2xl mt-5">Owner Information: </h2>
  <div id="ownerInfo">
    <div>
      <label class="inline-block font-semibold">Name:
        <span class="font-normal">{{owner.owner_first_name}}</span></label>
      <label>{{owner.owner_last_name}}</label>
    </div>
    <div>
      <label class="inline-block font-semibold">Address:
        <span class="font-normal">{{owner.owner_street}}</span></label>
        <span class="font-normal">{{owner.owner_city}}, {{owner.owner_state}} {{owner.owner_zip}}</span></label>
    </div>
    <div>
      <label class="inline-block font-semibold">Phone:
        <span class="font-normal">{{owner.owner_phone}}</span></label>
    </div>
    <div>
      <label class="inline-block font-semibold">Email:
        <span class="font-normal">{{owner.owner_email}}</span></label>
    </div>
  </div>
  <div class="my-5">
    <button
      class="rounded bg-blue-400 px-2 hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-300 active:bg-blue-700"
      hx-get="/owners/{{owner.owner_id}}/edit" hx-target="#ownerInfo" hx-swap="outerHTML">Edit Owner</button>
    <button
      class="rounded bg-red-400 px-2 hover:bg-red-600 focus:outline-none focus:ring focus:ring-blue-300 active:bg-red-700"
      hx-delete="/owners/{{owner.owner_id}}" hx-target="#main"
      hx-confirm="Are you sure you want to delete this owner? This action cannot be undone.">Delete Owner</button>

  </div>
  <div>
    <h4 class="font-semibold text-lg mt-2 pb-3">Associated Properties: <span class="font-normal">(double click to open property info)</span></h4>
    <ul>
      {{#each owner.properties}}
        <li class="pb-3 cursor-pointer" hx-get="/properties/{{property_id}}" hx-target="#main" hx-trigger="dblclick" class="cursor-pointer">
          <h5>Name: {{property_name}}</h5>
          <h5>Address: </h5>
          <p>{{property_street}}</p>
          <p>{{property_city}}, {{property_state}} {{property_zip}}</p>
        </li>
      {{/each}}
    </ul>
  </div>
</main>