<main>
  <h2>Property: {{property.property_name}}</h2>
  <h3>Address: {{property.property_street}}</h3>
  <h3>{{property.property_city}},
    {{property.property_state}}
    {{property.property_zip}}</h3>
  <h3>Property Owner: {{property.owner.owner_first_name}}
    {{property.owner.owner_last_name}}</h3>
  <h3>Owner Phone:{{property.owner.owner_phone}}</h3>
  <ol>
    <h3>Property Issues:</h3>
    {{#each property.issues as |issue|}}
    <li
    hx-get="/issues/property/{{property_id}}"
    hx-target="#main"
    hx-trigger="click"
    >
        {{issue.issue_title}}
    </li>
    {{/each}}
  </ol>
</main>