<main>
  <button hx-get="/properties/new" hx-target="#main">Add New Property</button>
  <h1 class="mx-4 mb-5 pt-5 text-4xl font-bold">Properties</h1>
  <ul
    id="propertiesList"
    hx-trigger="update-list from:body"
    hx-get="/properties"
    hx-target="#aside"
  >
    {{#each properties as |property|}}
      <li
        class="m-4 cursor-pointer rounded bg-white/30 p-2 text-white backdrop-blur-sm"
        hx-get="/properties/{{property_id}}"
        hx-target="#main"
        hx-trigger="click"
        hx-boost="true"
        hx-push-url="true"
      >
        <h2 hx-target="closest li">{{property_name}}</h2>
        <p hx-target="closest li">{{property_street}}</p>
        <p hx-target="closest li">{{property_city}}</p>
        <p hx-target="closest li">{{property_state}}</p>
        <p hx-target="closest li">{{property_zip}}</p>
      </li>
    {{/each}}
  </ul>
</main>

{{#if isOob}}
<div hx-swap-oob="true" id="selectOption"></div>
<div hx-swap-oob="true" id="searchBar"></div>
{{/if}}