<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<main>
  <h2>Property: {{property.property_name}}</h2>
  <h3>Address: {{property.property_street}}</h3>
  <h3>{{property.property_city}},
    {{property.property_state}}
    {{property.property_zip}}</h3>
  <h3>Property Owner:
    {{property.owner.owner_first_name}}
    {{property.owner.owner_last_name}}</h3>
  <h3>Owner Phone:{{property.owner.owner_phone}}</h3>
  <button
    name="deleteProperty"
    value="Delete Property"
    class="rounded-lg border-2 border-slate-300 bg-red-700 px-2"
    hx-delete="/properties/{{property.property_id}}"
    hx-target="#main"
    hx-trigger="confirmed"
    onClick="Swal.fire({title: 'Confirm', text:'Are you sure you want to delete his owner?'}).then(function(result){
        if(result.isConfirmed){
          htmx.trigger(this, 'confirmed');  
        } 
        })"
  >Delete</button>
  
  <button
    name="updateProperty"
    value="Update Property"
    class="rounded-lg border-2 border-slate-300 bg-emerald-800 px-2"
    hx-on:click="document.getElementById('property-update').classList = 'visible', 'p-5' "
    hx-target="#main"
  >Update</button>
  <div id="property-update" class="hidden" class="p-5">
    <form class="flex flex-col">
      <label for="property_name">Property Name</label>
      <input
        type="text"
        name="property_name"
        value="{{property.property_name}}"
      />
      <label for="property_street">Property Street Address</label>
      <input
        type="text"
        name="property_street"
        value="{{property.property_street}}"
      />
      <label for="property_city">Property City</label>
      <input
        type="text"
        name="property_city"
        value="{{property.property_city}}"
      />
      <label for="property_state">Property State</label>
      <input
        type="text"
        name="property_state"
        value="{{property.property_state}}"
      />
      <label for="property_zip">Property Zip</label>
      <input
        type="text"
        name="property_zip"
        value="{{property.property_zip}}"
      />
      <label for="owner_id">Property Owner</label>
      <input type="text" name="owner_id" value="{{property.owner_id}}" />
      <button
        class="rounded-lg border-2 border-slate-300 bg-emerald-800 px-2"
        hx-patch="/properties/{{property.property_id}}"
        type="submit"
         hx-on:click="document.getElementById('property-update').classList = 'hidden' "
      ><h3>Submit</h3></button>
    </form>
  </div>
  <ol>
    <h3>Property Issues:</h3>
    {{#each property.issues as |issue|}}
      <li hx-get="/issues/{{issue_id}}" hx-target="#main" hx-trigger="click">
        {{issue.issue_title}}
      </li>
    {{/each}}
  </ol>
</main>