<main class="m-4 rounded bg-inherit px-4 text-white backdrop-blur-xl shadow-lg">
  <h2 class="mb-5 text-4xl font-bold">Property Information: </h2>
  <div id="propertyInfo">
    <div>
      <label class="inline-block font-semibold">Property Name:
        <span class="font-normal">{{property.property_name}}</span></label>
    </div>
    <div>
      <label class="inline-block font-semibold">Address:
        <span class="font-normal">{{property.property_street}}</span></label>
      <span class="font-normal">{{property.property_city}},
        {{property.property_state}}
        {{property.property_zip}}</span>
    </div>
    <div>
      <label class="inline-block font-semibold">Owner Name:
        <span class="font-normal">{{property.owner.owner_first_name}}
          {{property.owner.owner_last_name}}</span></label>
    </div>
    <div>
      <label class="inline-block font-semibold">Owner Phone:
        <span class="font-normal">{{property.owner.owner_phone}}</span></label>
    </div>
  </div>
  <div class="my-5">
    <button
      class="rounded bg-blue-400 px-2 hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-300 active:bg-blue-700 shadow-lg"
      hx-get="/properties/{{property.property_id}}/edit"
      hx-target="#propertyInfo"
      hx-swap="outerHTML"
    >Edit Property</button>
    <button
      class="rounded bg-red-400 px-2 hover:bg-red-500 focus:outline-none focus:ring focus:ring-blue-300 active:bg-red-700 shadow-lg"
      hx-delete="/properties/{{property.property_id}}"
      hx-target="#main"
      hx-confirm="Are you sure you want to delete this property? This action cannot be undone."
    >Delete Property</button>
  </div>
  <ol>
    <h3 class="font-semibold underline">Property Issues:</h3>
    {{#each property.issues as |issue|}}
      <li class="cursor-pointer hover:font-bold hover:text-red-500 max-w-40 pb-3" hx-get="/issues/{{issue_id}}" hx-target="#main" hx-trigger="click">
        {{issue.issue_title}}
      </li>
    {{/each}}
  </ol>
</main>