<ul id="tasksList"
  hx-target="#aside"
  hx-get="/tasks/due"
  hx-trigger="update-tasks from:body">
{{#each tasks}}
  <div
    class="backdrop-blur-sm bg-white/30 m-4 p-2 text-white rounded cursor-pointer"
    hx-get="/issues/{{issue_id}}"
    hx-target="#main"
    hx-push-url="true"
  >
    <h2 class="font-semibold">To Do:
      <span class="font-normal">{{this.task_name}}</span></h2>
    <h3 class="font-semibold">Issue:
      <span class="font-normal">{{this.issue.issue_title}}</span>
    </h3>
    <h3 class="font-semibold">Property:
      <span class="font-normal">{{this.issue.property.property_name}}</span>
    </h3>
    <h3 class="font-semibold">Due Date:
      <span class="font-normal">{{format_date this.followUp_date}}</span>
    </h3>
  </div>
{{/each}}
</ul>

{{#if isOob}}
  <h1 id="asideTitle" hx-swap-oob="true" class="mx-4 mb-5 pt-5 text-4xl font-bold">Today's Tasks</h1>
  <div id="selectOption" hx-swap-oob="true" ></div>
  <div id="searchBar" hx-swap-oob="true" ></div>
  <div id="addBtn" hx-swap-oob="true"></div>
{{/if}}