<main class="m-4 rounded bg-white/30 px-4 text-white backdrop-blur-md">
  <h2>{{vendor.vendor_first_name}} {{vendor.vendor_last_name}}</h2>
  <h3>{{vendor.vendor_trade}}</h3>
  <h3>{{vendor.vendor_phone}}</h3>
  <h3>{{vendor.vendor_email}}</h3>

  <ul>
    {{#each vendor.issues}}
      <li
        class="border-2 border-black"
        hx-get="/issues/{{issue_id}}"
        hx-target="#main"
        hx-push-url="true"
      >
        <h3 hx-target="closest li">{{issue_title}}</h3>
        <p hx-target="closest li">{{issue-description}}</p>
        {{#if issue_isDone}}
          <p hx-target="closest li">Closed</p>
        {{else}}
          <p hx-target="closest li">Open</p>
        {{/if}}
        <p>{{property.property_name}}</p>
      </li>
    {{/each}}
  </ul>

  <div class="">
    <button>Edit</button>
    <button>Add New Vendor</button>
    <button>Delete Vendor</button>
    <select
      class="text-gray-600"
      name="issue_id"
      hx-post="/vendors/{{vendor.vendor_id}}/issues"
      hx-include=""
    >
      <option value="" disabled selected hidden>Add Issue to Vendor</option>
      {{#each issues}}
        <option value="{{issue_id}}">{{issue_title}}</option>
      {{/each}}
    </select>
  </div>
</main>x