  <form class="flex flex-col text-gray-600" hx-post="/vendors/{{vendor.vendor_id}}/edit" hx-target="#main">
    <div>
      <input type="text" name="vendor_first_name" value="{{vendor.vendor_first_name}}"/>
      <input type="text" name="vendor_last_name" value="{{vendor.vendor_last_name}}"/>
    </div>

    <select name="vendor_trade">
      <option value="{{vendor.vendor_trade}}" disabled selected hidden>{{vendor.vendor_trade}}</option>
      <option value="Electrical">Electrical</option>
      <option value="Flooring">Flooring</option>
      <option value="Handyman">Handyman</option>
      <option value="Plumbing">Plumbing</option>
      <option value="Roofer">Roofer</option>
    </select>

    <div><input type="text" name="vendor_phone" value="{{vendor.vendor_phone}}"/></div>
    <div><input type="email" name="vendor_email" value="{{vendor.vendor_email}}"/></div>

    <button type="submit">Submit</button>
    <button hx-get="/vendors/{{vendor.vendor_id}}" hx-target="#main">Cancel</button>
  </form>